*{
	margin: 0;
	padding: 0;
	font-family: "Kanit", sans-serif;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(IMG/IMG_1739-r2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}


.btn.align-right {
  float: right;
}

.nav-links{
	flex: 1;
	text-align: left;
}

.nav-links p a{
	color: white;
	text-decoration: none;
}

.nav-links p a::after{
	content:'';
	width: 0%;
	height: 2px;
	background: #293E6A;
	display: block;
	margin: auto;
	transition: 0.2s;
}

.nav-links p a:hover::after{
	width: 100%;
}

.card-body p a{
	color: white;
	text-decoration: none;
}

.card-body p a::after{
	content:'';
	width: 0%;
	height: 5px;
	background: white;
	display: block;
	margin: auto;
	transition: 0.2s;
}

.card-body p a:hover::after{
	width: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    /* margin-right: auto; */
    margin-left: auto;
}

#shop_______________________________________________________________________
.container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.custom-spacing {
  letter-spacing: 0.25em; /* Adjust the spacing as needed */
}

.logout {
    background: transparent;
    color: #0DCAF0; 
    border: 1.55px solid #0DCAF0; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 10px;
    padding: 2px 10px; 
}

.logout:hover {
    color: white;
    background: red;
    border-color: red;
    border-radius: 5px;
    transition: 0.2s;
}

.card-body .card-title a {
    color: white;
    text-decoration: none;
}

.card-body .card-title a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.card-body .card-title a:hover::after {
    width: 35%;
}

test{
  width:50px ;
}